<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet/less" type="text/css" href="style.less" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="//cdn.jsdelivr.net/npm/less" ></script>
    <title>Ilyas Benhssine | Pro</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" href="imgs/logo-w.png">
</head>
<body class="darken" vs-theme="dark">
    
    <div id="app" v-bind:class="{ dyslexia: ddyslexia }">
        <div class="container">
            <div class="navbar box">
                <a href="index.html"><img src="imgs/logo-w.png" alt="" width="50px"></a>
                <div class="inline">
                    <a href="https://github.com/IlyasDiker">
                        <vs-button icon color="tumblr" href="">
                            <i class='bx bxl-github'></i>
                        </vs-button>
                    </a>
                    <a href="https://ilyasbenhssine.medium.com/">
                        <vs-button icon color="medium" >
                            <i class='bx bxl-medium'></i>
                        </vs-button>
                    </a>
                    <a href="https://www.linkedin.com/in/ilyasbenhssine/">
                        <vs-button icon color="linkedin" >
                            <i class='bx bxl-linkedin'></i>
                        </vs-button>
                    </a>
                    <a href="https://www.instagram.com/ilyaslezwin/">
                        <vs-button icon color="dribbble" >
                            <i class='bx bxl-instagram'></i>
                        </vs-button>
                    </a>
                    <a href="mailto:ilyasbenhssine@gmail.com">
                        <vs-button icon color="google-plus" >
                            <i class='bx bx-paper-plane' style='color:#ffffff'  ></i>
                        </vs-button>
                    </a>
                    <vs-button icon @click="dialogactive=!dialogactive">
                        <i class="bx bx-accessibility"></i>
                    </vs-button> 
                </div>
            </div>
            <!--  BODY START  -->
            <section class="center vh-70" id="intro">
                <vs-avatar circle badge badge-color="success" size="100">
					<img src="https://avatars3.githubusercontent.com/u/28260951?s=460&u=03dc4c84c11831b3c35a725b3f9065a23c0fdbda&v=4" alt="">
				  </vs-avatar>
                <h1>Ilyas Benhssine</h1>
                <br>
                <p>Hello i am a Full Stack developer & Software Engineering Student from Rabat, Morocco<br>
                    I enjoy building everything from small business sites to rich interactive apps. <br>
                    I'm currently Looking for new a opportunity & working on my project <a>Art of Kars</a></p>
                <br>
                <div class="inline">
                    <a href="mailto:ilyasbenhssine@gmail.com?subject=Hey,%20we%20want%20to%20hire%20you&body=Serious%20inquiries%20only,%20Plz">
                        <vs-button flat :active="active == 1" @click="active = 1">
                            <p2>Hire Me</p2>
                        </vs-button>
                    </a>
                        
                    <a href="#mywork"><vs-button flat :active="active == 0" @click="active = 0">
                        <p2>My Work</p2>
                    </vs-button></a>
                    
                </div>
            </section>
        </div>
        <vs-dialog blur v-model="dialogactive" width="400px">
            <template #header>
              <h4 class="not-margin">
                Disability Friendly
              </h4>
            </template>
            <div class="con-content not-margin">
                <br>
                <div class=" con-checkbox">
                    <vs-checkbox val="Dyslexia" v-model="ddyslexia" >
                      Dyslexia
                    </vs-checkbox>
                    <p>Color Blind</p>
                    <vs-checkbox val="ColorBlind" v-model="dcolorblind" disabled>
                      Red-Green
                    </vs-checkbox>
                    <vs-checkbox val="ColorBlind" v-model="dcolorblind" disabled>
                        Blue-Yellow
                    </vs-checkbox>
                    <vs-checkbox val="ColorBlind" v-model="dcolorblind" disabled>
                        Monochromacy (Sensitive to light)
                    </vs-checkbox>
                </div>
            </div>
            <!-- <template #footer>
                <div class="footer-dialog">
                  <vs-button block>
                    Continue
                  </vs-button>
                </div>
              </template> -->
        </vs-dialog>
        <section class="sec-content" id="experience">
            <div class="container">
                <h2>Services</h2>
                <br>
                <div class="grid-3">
                    <div class="service">
                        <box-icon type='solid' name='paint' size='50px' color='white'></box-icon>
                        <h3>Front End</h3>
                        <p>Development, design of web application, using latest modern technologies for simple, user-friedly interface.</p>
                    </div>
                    <div class="service">
                        <box-icon name='code-block' size='50px' color='white'></box-icon>
                        <h3>Back End</h3>
                        <p>I can provide you the ideal solution adapted to your needs and specifications. with performance in mind.</p>
                    </div>
                    <div class="service">
                        <box-icon name='desktop' size='50px' color='white'></box-icon>
                        <h3>Desktop App</h3>
                        <p>I can bring your app to life using technologies like Java (made for 3 billions devices).</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-content" id="mywork">
            <div class="container">
                <h2>My Work</h2>
                <br>
                <div class="grid">
                    <div class="card">
                        <img class="pic" src="https://i.imgur.com/3Yaz223.png" alt="">
                        <div class="desc">
                            <h3>Art of Kars</h3>
                            <p>The Art ok Kars is the luxury marketplace to find new and preowned luxury, exotic and classic cars for sale.
                            </p>
                            <h2 class="inline">
                                <span class="mdi mdi-language-php"></span>
                                <span class="mdi mdi-vuejs"></span>
                                <span class="mdi mdi-firebase"></span>
                                <span class="mdi mdi-database"></span>
                                <span class="mdi mdi-language-python"></span>
                                <span class="mdi mdi-laravel"></span>
                            </h2><br>
                            <vs-button @click="" disabled>
                                Under Construction
                            </vs-button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="pic" src="https://i.imgur.com/7wwFL5u.png" alt="">
                        <div class="desc">
                            <h3>medERP</h3>
                            <p>MedERP is a medical ERP desktop application you can use to manage emloyees - clients - appointments - invoices - etc...
                            </p>
                            <h2 class="inline">
                                <span class="mdi mdi-language-java"></span>
                                <span class="mdi mdi-database"></span>
                                <span class="mdi mdi-apple"></span>
                                <span class="mdi mdi-microsoft-windows"></span>
                            </h2><br>
                            <a href="https://github.com/IlyasDiker/medERP">
                                <vs-button @click="">
                                    Visite project website
                                </vs-button>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="pic" src="https://i.imgur.com/Riud7BG.png" alt="">
                        <div class="desc">
                            <h3>Blabler</h3>
                            <p>Blabler is a micro-blogging platform from breaking news and entertainment to sports and politics.
                            </p>
                            <h2 class="inline">
                                <span class="mdi mdi-language-python"></span>
                                <span class="mdi mdi-database"></span>
                            </h2><br>
                            <div class="inline">
                                <a href="https://github.com/Blabler">
                                    <vs-button @click="">
                                        Visite project website
                                    </vs-button>
                                </a>
                                <a href="/files/Blabler Rapport.pdf">
                                    <vs-button @click="">
                                        Project Documentation
                                    </vs-button>
                                </a>
                                <a href="/files/Blabler Intro.pdf">
                                    <vs-button @click="">
                                        Project Introduction
                                    </vs-button>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card">
                        <img class="pic" src="https://i.imgur.com/qd1wSMJ.png" alt="">
                        <div class="desc">
                            <h3>ZwinCipher</h3>
                            <p>A Cipher i made for fun it will give you random result each time you crypt any thing, to make life harder for anyone who want to decrypt it.
                            </p>
                            <h2 class="inline">
                                <span class="mdi mdi-language-javascript"></span>
                                <span class="mdi mdi-language-html5"></span>
                                <span class="mdi mdi-language-css3"></span>
                            </h2><br>
                            <div class="inline">   
                                <a href="https://github.com/IlyasDiker/ZwinCipher">
                                    <vs-button @click="">
                                        Visite project website
                                    </vs-button>
                                </a>
                                <a href="https://ilyasdiker.github.io/ZwinCipher/">
                                    <vs-button @click="">
                                        Try
                                        <template #animate >
                                            <span class="mdi mdi-play"></span>
                                        </template>
                                    </vs-button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="pic" src="https://i.imgur.com/uWm4DW0.png" alt="">
                        <div class="desc">
                            <h3>Car Selling Platform</h3>
                            <p>A very simple car selling platform where anyone can post & sell his car or find a vehicle to buy.
                            </p>
                            <h2 class="inline">
                                <span class="mdi mdi-language-java"></span>
                                <span class="mdi mdi-language-html5"></span>
                                <span class="mdi mdi-language-css3"></span>
                                <span class="mdi mdi-database"></span>
                            </h2><br>
                            <div class="inline">   
                                <a href="https://github.com/IlyasDiker/CarSellingPlatform">
                                    <vs-button @click="">
                                        Visite project website
                                    </vs-button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="pic" src="https://i.imgur.com/8yJOzUX.png" alt="">
                        <div class="desc">
                            <h3>QGIS3.0 Plugin</h3>
                            <p>A Qgis 3.0 plugin for Ancfcc that helps you manage easily geographic data (add, remove, update) properity, bornes
                            </p>
                            <h2 class="inline">
                                <span class="mdi mdi-language-python"></span>
                                <span class="mdi mdi-map-outline"></span>
                                <span class="mdi mdi-elephant"></span>
                                <span class="mdi mdi-database"></span>
                            </h2><br>
                            <div class="inline">   
                                <a href="https://github.com/IlyasDiker/Qgis_Pyhton">
                                    <vs-button @click="">
                                        Visite project website
                                    </vs-button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <center>
                        <br>
                        <a href="https://github.com/IlyasDiker?tab=repositories">
                            <vs-button animation-type="vertical">
                                More on my Github
                                <template #animate >
                                    <span class="mdi mdi-github"></span>
                                </template>
                            </vs-button>
                        </a>
                    </center>
                    <a class="float-btn" onclick="topFunction()" id="topBtn"><i class="bx bx-chevron-up"></i></a>
                </div>
                
            </div>
        </section>
        <section class="sec-content" id="Clients">
            <div class="container">
                <h2>My Clients</h2>
                <p style="padding: 10px 0px;">Some of my happy clients</p>
                <br>
                <div class="grid-5">
                    <div class="client">
                        
                    </div>
                </div>
            </div><br>
            <center>
                <p>© Copyright 2021 - Ilyas Benhssine</p>
            </center>
        </section>
        
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
    <script src="app.js"></script>
    <script>
    var mybutton = document.getElementById("topBtn");

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>