@import url("https://cdn.clarkhacks.com/OpenDyslexic/v3/OpenDyslexic.css");

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.dyslexia{
    *{
        font-family: 'OpenDyslexic' !important;
    }
}

h1{font-size: 50px;}
p2{font-size: 17px;}
a{text-decoration: none;}

body{

    background: url("https://i.imgur.com/0azzi7a.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 900px;
    margin: 20px auto;
}

.grid-3{
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}

@media only screen and (max-width: 910px) {
    .container{
        width: 90vw;
    }
    .card{
        margin: 20px auto !important;
        flex-direction: column;
        width: 80vw;
        .pic{
            object-fit: cover;
            width: 80vw !important;
            height: 250px;
        }
    }
    
}
@media only screen and (max-width: 750px) {
    .grid-3{
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }
}

.box{
    // background-color: #1e2023;
    background: rgba(30, 32, 35, 0.8);
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 35px -10px rgba(var(--vs-dark),.2);
    border-radius: 20px;
}

.card{
    box-shadow: 0 5px 20px 0 rgba(0,0,0,var(--vs-shadow-opacity));
    border-radius: 20px;
    overflow: hidden;
    transition: all 200ms ease-in;
    margin: 20px;
    display: flex;
    .desc{
        margin: 25px;
    }
    p{
        margin: 20px 0px;
    }
    .pic{
        transition: all 200ms ease-in;
        border-radius: 20px;
        width: 290px;
    }
}
.card:hover{
    transform: scale(1.01);
}

.inline{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

.navbar{
    margin: 30px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
    }
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vh-70{
    height: 70vh;
}

.sec-content{
    background-color: #1e2023;
    padding: 20px;
}

.float-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
    padding: 12px 16px;
    right: 20px;
    color: white;
    background: rgba(19, 20, 22, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 35px -10px rgba(var(--vs-dark),.2);
    border-radius: 20px;
}
.float-btn:hover{
    background: rgba(12, 12, 14, 0.8);
}

.service{
    box-shadow: 0 5px 20px 0 rgba(0,0,0,var(--vs-shadow-opacity));
    border-radius: 20px;
    padding: 25px;
    transition: all 200ms ease-in;
    h3{
        padding: 15px 0px;
    }
}
.service:hover{
    transform: scale(1.05);
    background-color: rgba(26, 91, 255, 0.829);
}