*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{font-size: 50px;}
p2{font-size: 17px;}
a{text-decoration: none;}

body{
    background-color:#141417;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 900px;
    margin: 10px auto;
}

@media only screen and (max-width: 910px) {
    .container{
        width: 90vw;
    }
    .card{
        margin: 20px auto !important;
        flex-direction: column;
        width: 80vw;
        .pic{
            object-fit: cover;
            width: 80vw !important;
            height: 250px;
        }
    }
}

.box{
    background-color: #1e2023;
    box-shadow: 0 20px 35px -10px rgba(var(--vs-dark),.2);
    border-radius: 20px;
}

.card{
    box-shadow: 0 5px 20px 0 rgba(0,0,0,var(--vs-shadow-opacity));
    border-radius: 20px;
    overflow: hidden;
    transition: all 200ms ease-in;
    margin: 20px;
    display: flex;
    .desc{
        margin: 25px;
    }
    p{
        margin: 20px 0px;
    }
    .pic{
        transition: all 200ms ease-in;
        border-radius: 20px;
        width: 290px;
    }
}
.card:hover{
    transform: scale(1.01);
}

.inline{
    display: flex;
}

.navbar{
    margin: 30px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
    }
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vh-70{
    height: 70vh;
}

.sec-content{
    background-color: #1e2023;
    padding: 20px;
}