.nav{
    padding: 20px;
    max-width: 1024px;
    margin: auto;
    .brand{
        float: left;
    }
    .navsec{
        float: right;
        right: 0px;
        line-height: 60px;
        vertical-align: middle;
        p{
            display: inline;
            padding: 20px;
        }
    }
}

.content{
    max-width: 1024px;
    padding: 20px;
    margin: auto;
}

.main{
    p{
        width: 400px;
    }
}